!!!5
html
  head
    title Getting Started with Grunt
    link(rel="icon", type="image/x-icon", href=showFile("src/views/grunt.ico"))
    link(href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One',rel='stylesheet',type='text/css')
    link(rel="stylesheet", href="css/app.css")
    //- !{ css() }

  body
    .logo
      !{ showFile("src/views/logo.svg") }
    
    .title Getting Started with Grunt
    .subtitle Coming soon...

    #popup
      .loading Loading...
      #link-title
      #link-url

    script.
      var LINKS = !{ showFile("links.json") };

    //- script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery#{min}.js')
    //- script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular#{min}.js')
    script(src="js/app.js")
    //- !{ js() }