doctype html
html
  head
    title Getting Started with Grunt
    script.
      window.GoogleAnalyticsObject = 'ga';
      window.ga = window.ga || function () {
          (window.ga.q = window.ga.q || []).push(arguments)
      }, window.ga.l = 1 * new Date();

    meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel="icon", type="image/x-icon", href=showFile("src/views/grunt.ico"))
    link(href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One',rel='stylesheet',type='text/css')
    link(rel="stylesheet", href="css/app.css")
    style.
      html { color: #fff }
      [ng-cloak] { display: none }

  body(ng-app="gswg", ng-class="{loaded:loaded}")

    .sidebar(ng-controller="SidebarController")
      .logo!= showFile("src/views/logo.svg")
      .title
        .big Getting Started with Grunt:
        br
        .small The JavaScript Task Runner
      .author
        p
          | by 
          a.link(ng-href="http://jpillora.com") Jaime Pillora

      .social
        div: iframe(src="http://ghbtns.com/github-btn.html?user=jpillora&type=follow",
            allowtransparency="true",frameborder="0",scrolling="0",width="130",height="20")
        div: a(href="https://twitter.com/jpillora" class="twitter-follow-button" data-show-count="false") Follow @jpillora
        div: span
          a.twitter-share-button(href='https://twitter.com/share', data-url='http://gswg.io', data-text='Learning Grunt? \'Getting Started with Grunt: The JavaScript Task Runner\' has all the answers', data-hashtags='gswg,gruntjs') Tweet
          script.
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");


    .main: .container(ng-cloak)

      a.fork(style='position: absolute; top: 0; right: 0; border: 0; z-index:1;', ng-href='https://github.com/jpillora/gswg-io')
        img(src='https://github-camo.global.ssl.fastly.net/652c5b9acfaddf3a9c326fa6bde407b87f7be0f4/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6f72616e67655f6666373630302e706e67', alt='Fork me on GitHub', data-canonical-src='https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png')

      .ui.stacked.segment
        h2 Getting Started with Grunt: The JavaScript Task Runner
        .content
          a(ng-href="{{sampleCh}}")
            img.cover(src="img/cover2.jpg")
          p Modern web browsers are fast becoming the application platform of choice. Grunt, along with its wide range of plugins, provides a simple way of managing the large number of build tasks required to maintain a sophisticated web application.
          p Getting Started with Grunt: The JavaScript Task Runner is an example driven step-by-step guide to help you become an effective Grunt power user. You quickly learn how to install, configure, and run Grunt. You then go on to understand how to use third-party Grunt plugins and create your own Grunt tasks that cater to your particular needs.
          p This book enables you to create your own Grunt environments and fully utilize Grunt’s powerful feature set to effectively solve your custom build requirements.

      .ui.stacked.hyperlinks.segment(ng-controller="SearchController")
        a.ui.tiny.orange.limit.button(ng-cloak,
                                      ng-click="limit = limit == 5 ? 1000 : 5",
                                      ng-bind="'Show '+(limit == 5 ? 'All' : '5')")
        h2 Hyperlink Search
        p
          | Use this tool to search through all hyperlinks used in the book. 
          | Use multiple search terms to refine the results.
        .ui.fluid.icon.input
          input(type='text', placeholder='Filter hyperlinks', ng-model="query", ng-change="filterChange()")
          i.search.icon
        table.ui.inverted.grunt-orange.table.segment
          thead
            tr
              th ID
              th Title
              th.hyperlink URL
          tbody
            tr(ng-repeat="l in links | filter:filterLink | limitTo:limit",
               ng-click="gotoLink(l)")
              td \#{{ l.id }}
              td {{ l.title }}
              td.hyperlink: .text {{ l.url }}


      .ui.stacked.faq.segment
        h2 FAQ
        h4 Where can I preview the book?
        p
          | You can download the complete first chapter of the book here:
          p.link: a(ng-href="{{sampleCh}}") {{sampleCh}}

        h4 Where can I buy the book?
        .ui.items
          .store.item(ng-repeat="s in stores")
            a.content(ng-href="{{ s.url}}", title="{{ s.name }}")
              img(ng-src="img/{{ s.id }}.png", title="{{ s.name }}")
        .message
          | If you enjoyed the book, please consider 
          a(ng-href="{{amazonReviews}}") rating it on Amazon

        h4 Where can I download the code examples?
        p 
          | Please visit the book examples Github repository here:
          p.link: a(ng-href="{{gswgEgRepo}}") {{gswgEgRepo}}
          | or you can directly download the .zip here:
          p.link: a(ng-href="{{gswgEgZip}}") {{gswgEgZip}}
        
        h4 Where can I report issues with the book or the code examples?
        p
          | Please post all issues relating to the book here:
          p.link: a(ng-href="{{gswgEgIssues}}") {{gswgEgIssues}}
        
        h4 Where can I send my praise or my criticism?
        p
          | If you can spare the time, please place all remarks in a <a ng-href="{{amazonReviews}}">
          | review on Amazon</a>,<br>otherwise you can send email to this address:  
          | <a ng-href="mailto:{{email}}">{{email}}</a>.

      .ui.stacked.segment
        h2 The Author
        .content
          p Jaime Pillora is a passionate full-stack JavaScript developer, an open source advocate and contributor, and is co-founder and CTO of Luma Networks, a well-funded networking startup in Sydney, Australia.
          p Jaime has always been interested in all things computer science, and from a young age, he began to devote his time and effort to learning and perfecting his knowledge in the field. Jaime holds a Bachelor of Computer Science from the University of New South Wales. In all of his work, Jaime strives to reduce technical debt while maintaining maximum efficiency; this is done through software engineering best practices, combined with using the best tools for the given situation. Grunt is one such tool, which is utilized in every frontend project. Jaime's interest in Grunt began early on in his development career and he has since become a renowned expert.
          p Jaime has been working as a frontend JavaScript developer since 2008, and a backend JavaScript developer utilizing Node.js since 2011. Currently, Jaime leads all software development at Luma Networks, who is implementing software-defined networking on commodity hardware with full-stack JavaScript.


      .ui.stacked.extras.segment
        h2 Extras
        .content
          p 
            | This website is statically generated using the techniques in this book and is freely hosted on Github Pages.
            | The source code is available <a ng-href="{{gswgIoRepo}}">here</a> and it was built using
            | <a ng-href="{{gsrcRepo}}">Grunt Source</a> and <a ng-href="{{gsrcWebRepo}}"> Grunt Source Web</a>.

      .ui.basic.footer.segment
        | 
        //- &copy; 2014

    #popup
      .loading Loading...
      #link-title
      #link-url

    script!= "window.LINKS = "+showFile("links.json")
    script(src="//www.google-analytics.com/analytics.js")
    script(src="js/app.js")
    script(src="//cdnjs.cloudflare.com/ajax/libs/yepnope/1.5.4/yepnope.min.js", defer)